@charset "utf-8";
/* CSS Document */

/*==========================================
ベースのCSSの設定
============================================*/
/*ベースの要素の設定をリセット*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,p,blockquote,th,td {
margin:0;
padding:0;
}

/*画像の枠線をクリアして位置の初期値の設定*/
img{
border:0;
vertical-align: top;
}

/*リンク時の枠の点線をなしにする*/
a{
outline: none;
}

/*リスト要素の初期値をリセット*/
ul,ol{
list-style: none;
}

/*フロート解除用のハック*/
/*clearfixの設定*/
.clearfix:after{
visibility:hidden;/*見えなくする*/
height:0;/*見えなくする*/
display: block;/*block要素にする*/
font-size: 0;
content: " ";
clear: both;

}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */



/*==========================================
共通
============================================*/
body{
font-size: 62.5%;
font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
line-height:1.4;
color:#333;
background:#fff;
}


/*リンクの装飾の設定*/
a:link,
a:visited,
a:active{
color:#fa9a4a;
text-decoration:underline;
}

a:hover{
color:#fa9a4a;
text-decoration:none;
}



/*==========================================
ヘッダーエリアの設定
============================================*/
#header {
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #f3f2f2;
  font-size: 1.1em;
}

#header_top {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

#header_top h1 {
  padding-top: 25px;
}

#header_top p {
  margin: 0 0 20px 60px;
  color: #999;
}

ul#subnav {
  text-align: right;
  position: absolute;
  top: 30px;
  right: 10px;
}

ul#subnav li {
  float: left;
  padding-right: 30px;
}

ul#subnav a.sitemap {
  display: block;
  background: url(images/sitemap.gif) no-repeat 0 0;
  min-height: 11px;
  padding-left: 20px;
}

ul#subnav a.rss {
  display: block;
  background: url(images/rss.gif) no-repeat 0 0;
  min-height: 11px;
  padding-left: 18px;
}
/*==========================================
グローバルナビゲーション・グラフィックの設定
============================================*/
#globalnav {
  width: 100%;
  min-height: 48px;
  background: url(./images/nav_bg.gif) repeat-x;
}

#globalnav ul {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

#globalnav li {
  float: left;
  background: url(./images/line.gif) no-repeat left center;
  height: 48px;
}

#globalnav li.first {
  background-image: none;
}

#globalnav li a {
  color: #fff;
  display: block;
  width: 146px;
  height: 48px;
  padding: 0 5px;
  text-align: center;
  font-size: 1.4em;
  text-decoration: none;
  line-height: 48px;
}

#globalnav li a:hover {
  background: #fb946b;
}

#header p img {
  display: block;
  width: 940px;
  margin-left: 0 auto;
}
/*==========================================
コンテンツエリア設定
============================================*/





/*==========================================
コンテンツ領域の枠の設定
============================================*/






/*==========================================
Welcome To HOLLYWOOD CAFE
============================================*/





/*==========================================
RecommendMenuの設定
============================================*/





/*==========================================
「詳細を見る」ボタンの設定
============================================*/





/*==========================================
個別のマージン設定
============================================*/





/*==========================================
Informationの設定
============================================*/





/*==========================================
サイドエリアの設定
============================================*/





/*==========================================
ページの先頭へ戻る
============================================*/





/*==========================================
フッターエリア
===============*/
